/* Font Roboto di dalam*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* Font Roboto di dalam*/

* {
  padding:0;
  margin:0;
  color: black;
  font-family: sans-serif ;
}
header {
  height:70px;
  background-color: rgb(60, 179, 113);
  
}
header h1 {
  display: inline-block;
  padding:auto;
  text-transform: uppercase;
}
header h1 a {
  transition: .3s;
  font-family: 'Pacifico', cursive;
  color: #fff;

}
header h1 a:hover {
  color: black;
}
header ul {
  float: right;
  justify-content: space-around;
  display: flex;
}
header ul li {
  padding:24px;
  display: inline-block;
}
header ul li a {
  transition: .2s;
  color:#fff;
}
header ul li a:hover {
  color: black;
}
a {
  text-decoration: none;
}
.container {
  width:90%;
  margin:0 auto;

}

.container p{
  text-align: center;
}

.container a{
  float: center;
}

.container .selengkapnya{
  color:#000;
  transition: all 0.5s ease;
  text-decoration: none;
  font-weight: 700; 
}

 .selengkapnya a{
  float: middle;
}

.container .selengkapnya:hover {
  margin-left:10px;
  }

.container::after {
  content: '';
  display: block;
  clear: both;
}
.mobile-menu {
  float: right;
  display: none;
  padding:18px;
}
.mobile-menu:hover {
  cursor: pointer;
}
#check {
  display: none;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width:300px;
  background-color: rgba(60, 179, 113, 0.9);
  transition: .3s;
  z-index: 9999;
}
.sidebar ul li a {
  color: #fff;
}
.sidebar ul li {
  padding:24px;
  transition: .3s;
  transition-property: background-color;
}
.sidebar ul li:hover {
  background-color: #F84744;
}
#check:checked ~ .sidebar {
  left: 0;
}


/*BAGIAN TABLE LOGIN*/
.table h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h1 {
	font-family: "Roboto", sans-serif;
	text-align: center;
}
body {
  background-image: url("img/foto2.jpg"); 
  background-position: center;
	height: 100%;
	font-size: 16px;
}
[class*="col-"] {
  width: 100%;
}

.registrasi {
  width: 500px;
  padding: 3% 0 0;
  margin: auto;
}
.judul {
	margin-top: -5px;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
.table {
  position: relative;
  z-index: 1;
  border: 4px solid #3CB371;
  border-radius: 10px;
  background: rgba(245, 245, 223, 0.8);
  max-width: 600px;
  width: 500px;
  margin: 60px auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.table input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 10px;
}
.table button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
}
.table button:hover {
  background: #43A047;
}
.table button:active {
  background: #43A047;
}
.table button:focus {
  background: #43A047;
}

/*BAGIAN FOOTER */
footer {
  background-color: #3CB371;
  padding:50px;
  text-align: center;
}
footer small {
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 860px) {
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
  .mobile-menu {
    display: block;
  }
  header ul {
    display: none;
  }
  .registrasi{
    width: 80%;
  }
}

@media (max-width: 576px){
  .table{
    width: 100%;
  }
  .container h1 {
    font-size: 25px;
    margin-top: 10px;
  }
}